.pb-header{
    background: #343a40!important
}
.pb-user-profile{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.pb-nav-link{
    min-width: 100px;
    height: auto;
    padding-top: 15px;
}